{% load emoji_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Happy Birthday Mimmi</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards%7CDosis:300,400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800;' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/img/logo.png" alt="logomimmi"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#page-top">Home</a>
                </li>

                <li>
                    <a class="page-scroll" href="#her">Meet The Princess</a>
                </li>
                <li>
                    <a class="page-scroll" href="#testimonials">Birthday Wishes</a>
                </li>
                <li>
                    <a class="page-scroll" href="#family">Know her family</a>
                </li>
                <li>
                    <a class="page-scroll" href="#tline">Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="#social">Social</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Section Intro Slider
================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="item active" style="background-image:url(/static/img/can3.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInDown">
                    Happy Birthday </h2>
                <h1 data-animation="animated bounceInUp">
                    Didhiti </h1>

            </div>
        </div>
        <!-- /.item -->
        <!-- Second slide -->
        <div class="item" style="background-image:url(/static/img/can2.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated zoomInLeft">
                    Happy Birthday </h2>
                <h1 data-animation="animated zoomInRight">
                    Didhiti </h1>

            </div>
        </div>
        <!-- /.item -->
        <!-- Third slide -->
        <div class="item" style="background-image:url(/static/img/can4.jpg)">
            <div class="carousel-caption">
                <h2 data-animation="animated bounceInLeft">
                    Happy Birthday</h2>
                <h1 data-animation="animated bounceInRight">
                    Didhiti</h1>

            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->
    <!-- Controls (currently displayed none from style.css)-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->


<!-- Section About
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Wish you a very Happy Birthday<br/><b>Didhiti</b></h2>
                <hr>
                <p>
                    This website is a gift to you on your... okay I will not say the numbers :D keep scrolling..
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Section Services
================================================== -->
<section id="her">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the <b>Princess</b></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- begin 1st row -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-birthday-cake wow bounceIn text-fade"></i>
                    </div>
                    <h3>Cooking</h3>
                    <p class="text-muted">
                        Cooking is one of her most loved hobby. Her region of expertise are bakery products and momos. She makes world's best home-made cakes.{{ "🍰"|emoji_replace_unicode }}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-dark">
                        <i class="fa fa-2x fa-book wow bounceIn text-fade" data-wow-delay=".1s"></i>
                    </div>
                    <h3>Reading Books</h3>
                    <p class="text-muted">
                        She loves to read books both fictional and non-fictional. Mythological and first person woman stories are her favorite. She prefers Indian writers over foreigners. Isssshmaart girl..{{ "📔"|emoji_replace_unicode }}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-cutlery  wow bounceIn text-fade" data-wow-delay=".2s"></i>
                    </div>
                    <h3>Eating around</h3>
                    <p class="text-muted">
                        She is a great foodie. Her heart always beats faster when she meet food. Denzong Kitchen is her favorite snacking stop.(She considers one should die if they don't have tested denzong chicken steamed momo ever.) (Thug life deal with it){{ "😎" | emoji_replace_unicode }}
                    </p>
                </div>
            </div>
        </div>
        <!-- end 1st row -->
        <br/>
        <div class="row">
            <!-- begin 2nd row -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-dark">
                        <i class="fa fa-2x fa-cloud wow bounceIn text-fade"></i>
                    </div>
                    <h3>Cogitating</h3>
                    <p class="text-muted">
                        On an off day she spends most of her time lying in her bed. Thinking of relationship and stuffs. Thinking about all her family members and friends and ....ofcourse Subha...;){{ " ☁☁☁ "|emoji_replace_unicode }}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-primary">
                        <i class="fa fa-2x fa-headphones wow bounceIn text-fade" data-wow-delay=".1s"></i>
                    </div>
                    <h3>Listening to songs and singing</h3>
                    <p class="text-muted">
                        She likes classical, slow, unplugged songs a lot. I must tell you she is pro singer and her voice is a great stress buster :)
                        Like books she also like to watch Movies and Series. Her best film is the Insurgent Series. {{ "🎶 🎤 "|emoji_replace_unicode }}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div class="iconbox bg-dark">
                        <i class="fa fa-2x fa-desktop wow bounceIn text-fade" data-wow-delay=".2s"></i>
                    </div>
                    <h3>Watching Movie and Series</h3>
                    <p class="text-muted">
                        She loves watching movies and TV series. Her favourite movie is the Insurgent series.
She needs some extra napkins ofcourse after watching a romantic movie {{ " 📺 "|emoji_replace_unicode }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end 2nd row -->
    </section>

    <!-- Section Testimonials
    ================================================== -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">A few <b>b'day wishes</b></h2>
                <hr class="primary">
                </div>
                <div class="col-md-12" data-wow-delay="0.2s">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="/static/img/joyee.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive"  src="/static/img/bibriti.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"  src="/static/img/mampi.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive"  src="/static/img/soumita.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive"  src="/static/img/angana.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="5"><img class="img-responsive"  src="/static/img/upasana.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="6"><img class="img-responsive"  src="/static/img/sonchu.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="7"><img class="img-responsive"  src="/static/img/kaka.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="8"><img class="img-responsive"  src="/static/img/tuktuk.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="9"><img class="img-responsive"  src="/static/img/sayantan.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="10"><img class="img-responsive"  src="/static/img/dibyendu.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="11"><img class="img-responsive"  src="/static/img/pallabi.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="12"><img class="img-responsive"  src="/static/img/anisha.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="13"><img class="img-responsive"  src="/static/img/barsha.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="14"><img class="img-responsive"  src="/static/img/poulami.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="14"><img class="img-responsive"  src="/static/img/arpan.jpg" alt="">
                            </li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                           <p>
                                                {{ "Firstly Happy birthday my CONSTANT 😘😘. Your weird ideas doubles the fun in each and everything we do together. Keep having them😉😝. Sometimes I really wish if I could have a Didhiti in my college too 😩." | emoji_replace_unicode }}
                                                {{ "Let's skip the part where I'll  tell you how much I love you 😍 cz We never say these things and atodine to ota universal truth r porjai chole gache 😎. " | emoji_replace_unicode }}
                                                {{ "Once again happy happy birthday 🎂👭" | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/joyee.datta">Pallavi Dutta</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                             <p>
                                                {{ 'Our friendship is just like a vitamin supplement to my life..😄😄😄  I love you the most for your great sense of humor and that weird smile..😂😂  Thank you for being my partner in crime always and hope we continue our Denzong adventure until we die..😇' | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/bibriti.sarkar">Bibriti Sarkar</a></small>

                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 2 -->
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
						                    {{ 'Mimi...a lombu sister.....prothomei boli jonmodiner shubhecha.... toke niyw ki likhbo bol to... tr lipstick niye pagalpanti... "ei tr shade ta kiser re" ei kothaguli..... tr banano chokolate pestryyy.... ha eta khubi kharap byper j tui amak aj obdi browni khaoali na....😉... delhi te hullor....jotoi jhograjhati hok...tui to bon.... bhalo na bese jai kothae bol amr to r nijer bon nei.... jai hok.... bhalo thak... moja kor r plz amak browni khaoa nale surely tr pet kharap hbe.... 😛'| emoji_replace_unicode }}
                                            </p>
                                            <small>
						                    <a href="https://www.facebook.com/mampi.dutta"> Mampi Dutta </a>
                                            </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 3 -->
                             <!-- Quote 4 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
						                    A special and precious gift for ur special Day thats ur birthday......May God bless u and for ur life......I heartly wish for u that u will always be happy in ur life.......
                                            </p>
                                            <small>
						                    <a href="https://www.facebook.com/soumita.chakraborty.946">Soumita Chakraborty, (Choto Ria)</a>
                                            </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 4 -->
                            <!-- Quote 5 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                {{ "She is my first friend at CU.amader aksathe  khilli adda,first time bunk mere ghurte jawa princep ghat nd esplanade thn college strt e hatu jol e zeeshan e bose souvik r budday treat,seminar r reharsal,jhogra kore clg strt e boi kena ro koto ki.had a really good time with u..be like what u r ( bubly,pagli,thotkata).u r someone who can lit up every dull moment with ur energetic presence.be happpyyy...happy birthday😘" | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/angana.biswas"> Angana Biswas</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 5 -->
                            <!-- Quote 6 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                This is to Didhiti.... Before all I wana say I never seen such a strong girl b4... N then adding up sweetness u stun the world with ur elegance .. a cool friend someone to open up n be the butterfly toasting to freedom ...u r blessed ..keep shining ..love u ...
                                            </p>
                                            <small><a href="https://www.facebook.com/charmcaster.upasana"> Upasana Jana</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 6 -->
                            <!-- Quote 7 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                 I have no idea from where to start. U have done so much and have given constant support and motivated me though I never really listened. But u cook good food that's the best thing about you. It's fun spending time with you and r parchi na.
                                            </p>
                                            <small><a href="https://www.facebook.com/rahul.banerjee.79025">Rahul Banerjee (Sonchu)</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 7 -->
                            <!-- Quote 8 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                dear didhiti mimi dasgupta...<br>
                                                u r neither exactly my friend's sister nor my friend's girlfriend... u r more of a PISIMA to me {{ "😛 😛 😛" | emoji_replace_unicode }}
                                                new year's eve, saraswati puja, eco park, haji saheb etc etc..erm aro onek DAYS we have spent n i know more like these are going to come. till then bhlo thako, sukhe thako, weekends a mosti maro, prithibir onno dhongso koro...
                                                <br>
                                                iti...<br>
                                                KAKA
                                                <br>
                                                ps- tr hater ranna ta boroi bhalo.<br>
                                                pps- jonmodiner osonkho subhecha o pronam neben.
                                            </p>
                                            <small><a href="https://www.facebook.com/diptarag.saha">Diptarag Saha (KAKA)</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 8 -->
                            <!-- Quote 9 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                Sister from another Mother – Well, Didhiti (aka Mimi) is literally exactly that to me!

                                                When she was just born, and my mother would look after her while teaching me Maths during the summer vacations, I would totally dote on her cute baby-cries, with her lower lip inverted. They say there is  special affection for siblings you have looked after since they were infants – that is precisely the bond I share with you! Now that you have grown up to be the lovely lady you are, I have found a friend in you, with the same passion for experimenting with food, gossiping to glory, and of course playing with colors! The brighter the color of the dress or the jewellery, the more we are attracted to it, ain’t we! I know ou understand me the way not many others do. Whenever I cook something new, or buy something, you are one of the first few I reach out to share{{ "😀"  | emoji_replace_unicode }}Also, amazing memories are from my wedding, when we spent hours dubsmashing, or practicing the dance steps to perfection just so we could beat the groom’s side. I don’t know how I would have handled the pressure of the entire ‘dressing-up’ ceremonies in both my wedding functions without you to rely on for pins and Mascaras and Bindis!

                                                On your birthday, I wish you the best of everything that you deserve and much more – may every Birthday of yours be better than the last one! Many Many Happy Returns of the Day!!

                                                P.S – Come to Mumbai soon so we can go thrift shopping together! {{ "😀 😗 ❤ " | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/soumi.datta.10">Soumi Dutta (Tuk tuk)</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 9 -->
                             <!-- Quote 10 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                Dear sister,
                                                You are a sweet jolly little package. From bawarchi to bhai fota to many other meetings it has always been fun to be with you. You and big bro make the perfect couple.
                                                Wish you both a happy markatari future. {{ "😛 " | emoji_replace_unicode }}
                                                Will catch up soon.
                                                Till then a very happy birthday and lots of love.
                                                From
                                                Your brother from another mother.
                                                {{ "☺️" | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/sayantan.gupta.7">Sayantan Gupta</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 10 -->
                            <!-- Quote 11 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                Hi Didhiti ufsss sorry boudi k name dhore dakte nei. Hi boudi tomar barir samne badminton khela tomar barite lebur achar khaoa kono reason chara e chata chati a sb khub miss kori. Subha( Maxwell) jonmodin. Okhne geia treat ta nebo. Asha kori se din chat ta kom khabo as onk din por dekha hochhe. Valo thakis.. Iti Rakhal( Dibyendu)
                                            </p>
                                            <small><a href="https://www.facebook.com/dibyendu.r.sen/">Dibyendu Sen</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 11 -->
                            <!-- Quote 12 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                Sisters don’t need words. They have perfected a language of snarls and smiles and frowns and winks – expressions of shocked surprise and incredulity and disbelief. Sniffs and snorts and gasps and sighs – that can undermine any tale you’re telling.
                                                Happy birthday  sweet heart. Enjoy a lot. Always be happy.
                                                Miss u yaar. The secrets we share to each other,  watching movies, dahuk  food,  lots of fun.
                                                God bless u.
                                            </p>
                                            <small><a href="https://www.facebook.com/pallabi.dutta.526">Pallabi Dutta</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 12 -->
                            <!-- Quote 13 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                {{ "Didhiti, u were d coolest girl I had ever seen in my school life.,! I very much miss those Wednesdays, that walk towards school and obvio those spicy gossips between us...#much_love 😘" | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/anisha.sinha.148">Anisha Sinha</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 13 -->
                            <!-- Quote 14 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                You are one of the two sweetest little sisters one can get! Those stupid and adorable days of our childhood is unforgettable! (I wont elaborate, else you will have no prestige left!) Love you a lot! Stay happy! And Happy Birthday!! {{ "❤ ❤" | emoji_replace_unicode }}</p>
                                            <small><a href="https://www.facebook.com/barsha.dasgupta.3">Barsha Dasgupta</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 14 -->
                            <!-- Quote 15 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                My soitan MIMI DIDI{{ "😆 🍻🎂" | emoji_replace_unicode }}
                                                {{ "🍭🍊😍" | emoji_replace_unicode }}
                                                miss those skl dys, skl tiffins, biker pichone antakshari....{{ "❤️ jodio cllg er 3yrs o tr pichon charbo na... 😜 "| emoji_replace_unicode }} jst one song for u "PARBO NA AMI CHARTE TOKE" {{ "😘😘" | emoji_replace_unicode }}
                                                Luv u harami...{{ "❤️"| emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/poulami.dutta.391">Poulami Dutta</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 15 -->
                             <!-- Quote 15 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                After thinking a lot I realised that It is really hard to say few(paragraph likhte parbo) words about u or what you mean to me.. Onek birthday quotes o google korlam (usually onnyoder bday te ja Kori) kintu moner Moto kichui pelam na   U r just like a spontaneous thing of life.. Rare species tui.. to me
                                                chemical name -DDT
                                                Formula- chemistry te supply pai so janina
                                                Properties:
                                                Full of colour (ramdhanur maa)
                                                Taste enhancer
                                                Odour- snan na kore deo mere ghurle jerom hoy {{ "😁" | emoji_replace_unicode }}
                                                jonmodin toh Ki valo valo kotha bolte hbe nki!!
                                                suvo (bera noy) jonmodin... Valo thakish, suvechha roilo., And at the end all I can say is our friendship is slow ripening fruit..  So much love.. And I miss u, like old days ..
                                            </p>
                                            <small><a href="https://www.facebook.com/arpan.pramanik2">Arpan Pramanik</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- End Quote 15 -->
                        </div>
                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Section meet the princess
================================================== -->
<section class="no-padding">
    <div class="col-lg-12 text-center">
                <h2 class="section-heading">Things she <b>don't like</b></h2>
                <p>
                    Let's know her a bit better..
                </p>
                <hr class="primary">
                </div>
    <div class="equal-heights w-middle">
        <div class="col-md-4 bg-primary">
            <div class="box">
                <h2>There she is</h2>
                <p>
                    Didhiti Dasgupta, she is the ultimate girl next door and we will discuss about the things she don't like.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/lik2.jpg" style="height:883px;" alt="didhiti image">
        </div>
        <div class="col-md-4 bg-dark">
            <div class="box">
                <h2>Sleeping beauty stays  <b>SLEEPING BEAUTY</b></h2>
                <p>
                    Well the worst thing that could happen in her life if anyone deprives her from her sleep. You just don't dare to disturb the sleeping beauty.

                </p>
            </div>
        </div>
    </div>
    <div class="equal-heights w-middle">
        <div class="col-md-4 bg-gray">
            <div class="box">
                <h2>Eating <b>Paradigm</b></h2>
                <p>
                    If you are going out with her don't even dare to eat less than she had eaten. She feels so insecure that she might kill you one day. (p.s - That's how Subha is this overweight)
                </p>
            </div>
        </div>
        <div class="col-md-4 bg-darkgray">
            <div class="box">
                <h2>Honest <b>Reviews</b></h2>
                <p>
                    If she offers you to taste her cooked food, you need to be like a master chef judge to review her cooked food as she needs detailed review about every particle of the food and how the different flavours are working out.
                </p>
            </div>
        </div>
        <div class="col-md-4 bg-gray">
            <div class="box">
                <h2>Live Saving <b>Advice</b></h2>
                <p>
                    If you are a girl don't ever try to be a little bit friendly with her boyfriend. Trust me she will kill you as "The Mountain" killed "Oberyn Martell" in "Game of Thrones" and after that she will come for your family.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clearfix">
</div>


<!-- Section Portfolio
================================================== -->
<section id="family">
<div class="container">
<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">Know her <b>Family and Friends</b></h2>
		<hr class="primary">
		<br/>
	</div>
</div>
</div>
<div class="container-fluid">
<div class="row no-gutter">
	<div class="col-md-4">
		<a href="#family" class="portfolio-box">
		<img src="/static/img/babi.jpg" style="min-height:650px;" class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Father
				</div>
				<div class="project-name">
					 Abhijit Dasgupta
				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="#family" class="portfolio-box">
		<img src="/static/img/mamoni3.jpg" style="min-height:650px;" class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Mother
				</div>
				<div class="project-name">
					 Dipika Dutta Dasgupta
				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="#family" class="portfolio-box">
		<img src="/static/img/aditi3.jpg" style="min-height:650px;" class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Sister
				</div>
				<div class="project-name">
					 Aditi Dasgupta
				</div>
			</div>
		</div>
		</a>
	</div>
    </div>
    <div class="row no-gutter">
	<div class="col-md-4">
		<a href="#" class="portfolio-box">
		<img src="/static/img/subha2.jpg" style="min-height:650px;" class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Its'me(  who designed the page :P  ) and her
				</div>
				<div class="project-name">
                    Subha Bera
				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="portfolio-box">
		<img src="/static/img/cousins2.jpg" style="min-height:650px;"class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Cousins : Take One
				</div>
				<div class="project-name">

				</div>
			</div>
		</div>
		</a>
	</div>
	<div class="col-md-4">
		<a href="#" class="portfolio-box">
		<img src="/static/img/cousins_3_hd.jpg" style="min-height:650px;" class="img-responsive" alt="">
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					 Cousins : Take Two
				</div>
				<div class="project-name">

				</div>
			</div>
		</div>
		</a>
	</div>
        </div>
</div>
</section>

<!-- Section Timeline
================================================== -->
<section>
<div class="container">
<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading"><b>This is her timeline till so far</b></h2>
	</div>
</div>
</div>
<br/>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<ul class="tline-holder">
             <!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
                        The End
                        <img class="dp" align="right" style="background-image:url('/static/img/end.jpg')">
					</div>
					<h3>The Ending</h3>
					<p>
                            Admist, of this awesome life she met someone, who is the author/developer of this website. We don't have the best<br>
                            love story to tell you, but we had overcome the worst time together, stayed strong together, and will continue to<br>
                             do so hereinafter. So, I hope the rest of this timeline will be filled with happy moments, many adventures of <br>
                            lifetime and it will be legend..............you have to wait for it :) 

					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
            <!-- tline-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
                        Post 2013
                        <img class="dp" align="left" style="background-image:url('/static/img/college.jpg')">
					</div>
					<h3>The college life</h3>
					<p>
                        She is currently studying Bachelor of Library Science form The University of Calcutta [2014-2019], still maintaining<br> the bright, happy, chirpy, and positive smile as always.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
            <!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
                        The 2010's
                        <img class="dp" align="right" style="background-image:url('/static/img/pic3.jpg')">
					</div>
					<h3>The butterfly effect</h3>
					<p>
						 With age Mimmi went through her caterpillar stage and shaded her cocoon. And became this gorgeous lady. Stunned?
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
            <!-- tline-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
						 The School Life
                        <img class="dp" align="left" style="background-image:url('/static/img/school2.jpg')">
					</div>
					<h3>Living the time of her life</h3>
					<p>
                        School life is a person's best time of life. So was hers,probably better than most of us, this picture definitely describes that...<br>
Her life at Jadavpur Vidyapith still makes her smile out of no where
                        </p>
				</div>
			</div>
			</li>
			<!-- /tline-->
            <!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Early 2000's
                        <img class="dp" align="right" style="background-image:url('/static/img/babi2.jpg')">
					</div>
					<h3>The first Saree</h3>
					<p>
						 Well,everyone loves to be dressed and appreciated by a true and honest compliment from someone special.For her that<br> man will always be her Baba.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
						 The 2000's
                        <img class="dp" align="left" style="background-image:url('/static/img/mumum.jpg')">
					</div>
					<h3>Getting spoiled by Mummum</h3>
					<p>
                        Upbringed by the coolest lady in her times - <b>"Mumum"</b>. She is still her favorite person of all time and always will be.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 Till Eternity
                        <img class="dp" align="right" style="background-image:url('/static/img/grow2.jpg')">
					</div>
					<h3>The Ground</h3>
					<p>
						 This is where she did most of her "chotuchuti" & "doura douri".This place witnessed most of her timeless addas too.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-left wow fadeInLeft">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-right">
					<div class="meta">
						 Somewhere in the 90's
                        <img class="dp" align="left" style="background-image:url('/static/img/grow.jpg')">
					</div>
					<h3>Growing with Mithai</h3>
					<p>
						Of all things in her childhood,the best thing that happened to her is Mithai,the sweetest marshmallow she had althrough.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<!-- tline-->
			<li class="tline-item-right wow fadeInRight">
			<div class="tline-item-content">
				<div class="date-icon fa fa-bullhorn">
				</div>
				<div class="tline-item-txt text-left">
					<div class="meta">
						 August 1995
                        <img class="dp" align="right" style="background-image:url('/static/img/born.jpg')">
					</div>
					<h3>Happy Birthday</h3>
					<p>
						 Well, the second daughter of Dasgupta just born and everyone's lined up in the hospital to see the chubby little baby.
					</p>
				</div>
			</div>
			</li>
			<!-- /tline-->
			<li id=tline class="tline-start">
			<div class="tline-start-content">
				<div class="tline-start-icon">
				</div>
				<a href="#tline" class="btn btn-primary bgn-xl wow zoomIn">START</a>
			</div>
			</li>
		</ul>
	</div>
</div>
</div>
 <section id="testimonials2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">A last <b>b'day wish</b></h2>
                <hr class="primary">
                </div>
                <div class="col-md-12" data-wow-delay="0.2s">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel2">

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                           <p>
                                                She is a chirpy little bird, her innocent and lively smile helps me to forget all my worries and makes my day. Her presence in my life makes me strong and positive and happy and I am right now feeling awesome to pour my heart out about the birthday girl, a girl with a golden heart, a girl who brought happiness to my life and made my life colourful, a girl who completes me.
                                                I love you a lot {{ "😘😘" | emoji_replace_unicode }}. Wish you a happy birthday. {{ "🎂🎂" | emoji_replace_unicode }}
                                            </p>
                                            <small><a href="https://www.facebook.com/subha.bera">Subha Bera</a></small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Section Social
================================================== -->
<section id="social" class="parallax parallax-image" style="background-image:url(/static/img/social.jpg);">
<div class="overlay" style="background:#222;opacity:0.5;">
</div>
<div class="wrapsection">
<div class="container">
	<div class="parallax-content">
		<div class="row wow fadeInLeft">
			<div class="col-md-4">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="https://twitter.com/didhitimimi"><i class="fa fa-twitter"></i></a>
					</div>
					<h4>Twitter</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="https://www.facebook.com/DASGUPTADIDHITI"><i class="fa fa-facebook"></i></a>
					</div>
					<h4>Facebook</h4>
				</div>
			</div>
			<div class="col-md-4">
				<div class="funfacts text-center">
					<div class="icon">
						<a href="https://plus.google.com/112179181796133638586/posts"><i class="fa fa-google"></i></a>
					</div>
					<h4>Google</h4>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</section>
<div class="clearfix">
</div>


    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.js"></script>
    <script src="/static/js/contact.js"></script>
    <script src="/static/js/countto.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/common.js"></script>

</body>

</html>
